<configuration>
    <root level="info">TimeBasedRollingPolicy
        <appender-ref ref="CONSOLE"/>
    </root>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{MMMM/dd/yyyy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
</configuration>